/Лаба 1/Lab_1_1/Debug/Lab_1_1.exe
/Лаба 1/Lab_1_1/Debug/Lab_1_1.ilk
/Лаба 1/Lab_1_1/Debug/Lab_1_1.obj
/Лаба 1/Lab_1_1/Debug/Lab_1_1.pdb
/Лаба 1/Lab_1_1/Debug/vc142.idb
/Лаба 1/Lab_1_1/Debug/vc142.pdb
/Лаба 1/Lab_1_1/Debug/Lab_1_1.log
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/CL.command.1.tlog
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/CL.read.1.tlog
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/CL.write.1.tlog
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/link.read.1.tlog
/Лаба 1/Lab_1_1/Debug/Operation.obj
/Лаба 1/Lab_1_1/Debug
/Лаба 1/Lab_1_2/Debug
/Лаба 1/Lab_1_2/Debug/Lab_1_2.exe
/Лаба 1/Lab_1_2/Debug/Lab_1_2.ilk
/Лаба 1/Lab_1_2/Debug/Lab_1_2.log
/Лаба 1/Lab_1_2/Debug/Lab_1_2.obj
/Лаба 1/Lab_1_2/Debug/Lab_1_2.pdb
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/CL.command.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/CL.read.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/CL.write.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/Lab_1_2.lastbuildstate
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/link.command.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/link.read.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/link.write.1.tlog
/Лаба 1/Lab_1_2/Debug/vc142.idb
/Лаба 1/Lab_1_2/Debug/vc142.pdb
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/.suo
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/Browse.VC.db
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/15256b4af242e4e9/OPERATION.ipch
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/45b167fbf7d61570/LAB_1_1.ipch
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/62e806936f7b665a/OPERATION.ipch
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/e6d58347aab01760/LAB_1_1.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/.suo
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/Browse.VC.db
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/2323da7891cfae60/TELEPHONE.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/931711b987a916d2/OPERATION.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/d2c34d8d7a1f9930/LAB_1_2.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/d8e6d6bbd9490b81/OPERATION.ipch
