/Лаба 1/Lab_1_1/Debug/Lab_1_1.exe
/Лаба 1/Lab_1_1/Debug/Lab_1_1.ilk
/Лаба 1/Lab_1_1/Debug/Lab_1_1.obj
/Лаба 1/Lab_1_1/Debug/Lab_1_1.pdb
/Лаба 1/Lab_1_1/Debug/vc142.idb
/Лаба 1/Lab_1_1/Debug/vc142.pdb
/Лаба 1/Lab_1_1/Debug/Lab_1_1.log
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/CL.command.1.tlog
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/CL.read.1.tlog
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/CL.write.1.tlog
/Лаба 1/Lab_1_1/Debug/Lab_1_1.tlog/link.read.1.tlog
/Лаба 1/Lab_1_1/Debug/Operation.obj
/Лаба 1/Lab_1_1/Debug
/Лаба 1/Lab_1_2/Debug
/Лаба 1/Lab_1_2/Debug/Lab_1_2.exe
/Лаба 1/Lab_1_2/Debug/Lab_1_2.ilk
/Лаба 1/Lab_1_2/Debug/Lab_1_2.log
/Лаба 1/Lab_1_2/Debug/Lab_1_2.obj
/Лаба 1/Lab_1_2/Debug/Lab_1_2.pdb
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/CL.command.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/CL.read.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/CL.write.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/Lab_1_2.lastbuildstate
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/link.command.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/link.read.1.tlog
/Лаба 1/Lab_1_2/Debug/Lab_1_2.tlog/link.write.1.tlog
/Лаба 1/Lab_1_2/Debug/vc142.idb
/Лаба 1/Lab_1_2/Debug/vc142.pdb
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/.suo
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/Browse.VC.db
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/15256b4af242e4e9/OPERATION.ipch
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/45b167fbf7d61570/LAB_1_1.ipch
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/62e806936f7b665a/OPERATION.ipch
/Лаба 1/Lab_1_1/.vs/Lab_1_1/v16/Preview/ipch/AutoPCH/e6d58347aab01760/LAB_1_1.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/.suo
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/Browse.VC.db
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/2323da7891cfae60/TELEPHONE.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/931711b987a916d2/OPERATION.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/d2c34d8d7a1f9930/LAB_1_2.ipch
/Лаба 1/Lab_1_2/.vs/Lab_1_2/v16/Preview/ipch/AutoPCH/d8e6d6bbd9490b81/OPERATION.ipch
/~$веты на вопросы.docx
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/.suo
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/Browse.VC.db
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/ipch/AutoPCH/18465a927f4cd919/LINKEDSTACK.ipch
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/ipch/AutoPCH/6f409a095879722d/STACKDYNAMIC.ipch
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/ipch/AutoPCH/9a7d0033fe0ffe92/STACKHELLPER.ipch
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/ipch/AutoPCH/a28ff282795f3edc/EXPRESSION.ipch
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/ipch/AutoPCH/a3839b824abb907b/LABA_2_1.ipch
/Лаба 2/Laba_2_1/.vs/Laba_2_1/v16/Preview/ipch/AutoPCH/c7065fadcbfe0863/OPERATION.ipch
/Лаба 2/Laba_2_1/x64/Debug/Expression.obj
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.exe
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.ilk
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.log
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.obj
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.pdb
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/CL.command.1.tlog
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/CL.read.1.tlog
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/CL.write.1.tlog
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/Laba_2_1.lastbuildstate
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/link.command.1.tlog
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/link.read.1.tlog
/Лаба 2/Laba_2_1/x64/Debug/Laba_2_1.tlog/link.write.1.tlog
/Лаба 2/Laba_2_1/x64/Debug/LinkedStack.obj
/Лаба 2/Laba_2_1/x64/Debug/Operation.obj
/Лаба 2/Laba_2_1/x64/Debug/StackDynamic.obj
/Лаба 2/Laba_2_1/x64/Debug/StackHellper.obj
/Лаба 2/Laba_2_1/x64/Debug/vc142.idb
/Лаба 2/Laba_2_1/x64/Debug/vc142.pdb
/Лаба 3/Laba_3/Laba_3/.vs/Laba_3/v16/.suo
/Лаба 3/Laba_3/Laba_3/.vs/Laba_3/v16/Preview/Browse.VC.db
/Лаба 3/Laba_3/Laba_3/.vs/Laba_3/v16/Preview/ipch/AutoPCH/4f190d5ddc2cf1c4/OPEARTION.ipch
/Лаба 3/Laba_3/Laba_3/.vs/Laba_3/v16/Preview/ipch/AutoPCH/e0cf5d4bc638ba17/OPEARTION.ipch
/Лаба 3/Laba_3/Laba_3/.vs/Laba_3/v16/Preview/ipch/AutoPCH/f3457526ee2c9ce1/MAIN.ipch
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.exe
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.ilk
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.log
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.pdb
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/CL.command.1.tlog
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/CL.read.1.tlog
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/CL.write.1.tlog
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/Laba_3.lastbuildstate
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/link.command.1.tlog
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/link.read.1.tlog
/Лаба 3/Laba_3/Laba_3/Debug/Laba_3.tlog/link.write.1.tlog
/Лаба 3/Laba_3/Laba_3/Debug/Opeartion.obj
/Лаба 3/Laba_3/Laba_3/Debug/main.obj
/Лаба 3/Laba_3/Laba_3/Debug/vc142.idb
/Лаба 3/Laba_3/Laba_3/Debug/vc142.pdb
/Лаба 4/Laba_4/.vs/Laba_4/v16/.suo
/Лаба 4/Laba_4/.vs/Laba_4/v16/Preview/Browse.VC.db
/Лаба 4/Laba_4/.vs/Laba_4/v16/Preview/ipch/AutoPCH/3f399d8eb8e2e423/OPERATION.ipch
/Лаба 4/Laba_4/.vs/Laba_4/v16/Preview/ipch/AutoPCH/7f955b4dcb11936d/MAIN.ipch
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.log
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/CL.command.1.tlog
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/CL.read.1.tlog
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/CL.write.1.tlog
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/Laba_4.lastbuildstate
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/link.command.1.tlog
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/link.read.1.tlog
/Лаба 4/Laba_4/Laba_4/x64/Debug/Laba_4.tlog/link.write.1.tlog
/Лаба 4/Laba_4/Laba_4/x64/Debug/Operation.obj
/Лаба 4/Laba_4/Laba_4/x64/Debug/RedBlackTree.obj
/Лаба 4/Laba_4/Laba_4/x64/Debug/main.obj
/Лаба 4/Laba_4/Laba_4/x64/Debug/vc142.idb
/Лаба 4/Laba_4/Laba_4/x64/Debug/vc142.pdb
/Лаба 4/Laba_4/x64/Debug/Laba_4.exe
/Лаба 4/Laba_4/x64/Debug/Laba_4.ilk
/Лаба 4/Laba_4/x64/Debug/Laba_4.pdb
/Лаба 5/Laba 5/.vs/Laba 5/v16/.suo
/Лаба 5/Laba 5/.vs/Laba 5/v16/Preview/Browse.VC.db
/Лаба 5/Laba 5/.vs/Laba 5/v16/Preview/ipch/AutoPCH/1353c3ca55174cbd/OPERATION.ipch
/Лаба 5/Laba 5/.vs/Laba 5/v16/Preview/ipch/AutoPCH/3e58c6fed1761fc3/MAIN.ipch
/Лаба 5/Laba 5/.vs/Laba 5/v16/Preview/ipch/AutoPCH/bf030205d83186b5/HASHTABLEOPENADDRESS.ipch
/Лаба 5/Laba 5/Laba 5/x64/Debug/HashTableOpenAddress.obj
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.log
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/CL.command.1.tlog
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/CL.read.1.tlog
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/CL.write.1.tlog
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/Laba 5.lastbuildstate
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/link.command.1.tlog
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/link.read.1.tlog
/Лаба 5/Laba 5/Laba 5/x64/Debug/Laba 5.tlog/link.write.1.tlog
/Лаба 5/Laba 5/Laba 5/x64/Debug/Operation.obj
/Лаба 5/Laba 5/Laba 5/x64/Debug/main.obj
/Лаба 5/Laba 5/Laba 5/x64/Debug/vc142.idb
/Лаба 5/Laba 5/Laba 5/x64/Debug/vc142.pdb
/Лаба 5/Laba 5/x64/Debug/Laba 5.exe
/Лаба 5/Laba 5/x64/Debug/Laba 5.ilk
/Лаба 5/Laba 5/x64/Debug/Laba 5.pdb
/Algoritms/.vs/Algoritms/v16/.suo
/Algoritms/.vs/Algoritms/v16/Preview/Browse.VC.db
/Algoritms/.vs/Algoritms/v16/Preview/Browse.VC.opendb
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/bf8cc80496524a59/SOURCE.ipch
/Algoritms/Debug/Algoritms.log
/Algoritms/Debug/BinarySearch.exe
/Algoritms/Debug/BinarySearch.ilk
/Algoritms/Debug/BinarySearch.pdb
/Algoritms/Debug/BinarySearch.tlog/BinarySearch.lastbuildstate
/Algoritms/Debug/BinarySearch.tlog/CL.command.1.tlog
/Algoritms/Debug/BinarySearch.tlog/CL.read.1.tlog
/Algoritms/Debug/BinarySearch.tlog/CL.write.1.tlog
/Algoritms/Debug/BinarySearch.tlog/link.command.1.tlog
/Algoritms/Debug/BinarySearch.tlog/link.read.1.tlog
/Algoritms/Debug/BinarySearch.tlog/link.write.1.tlog
/Algoritms/Debug/Source.obj
/Algoritms/Debug/vc142.idb
/Algoritms/Debug/vc142.pdb
/Algoritms/.vs/Algoritms/v16/Preview/Solution.VC.db
/Algoritms/.vs/Algoritms/v16/Preview/Solution.VC.db-shm
/Algoritms/.vs/Algoritms/v16/Preview/Solution.VC.db-wal
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/29ad9a3d3271d971/DEBUGGER_JMC.ipch
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/8dc1cb08d66a5d2/SOURCE.ipch
/Algoritms/Debug/QuickSort.exe
/Algoritms/Debug/QuickSort.ilk
/Algoritms/Debug/QuickSort.pdb
/QuickSort/Debug/QuickSort.log
/QuickSort/Debug/QuickSort.tlog/CL.command.1.tlog
/QuickSort/Debug/QuickSort.tlog/CL.read.1.tlog
/QuickSort/Debug/QuickSort.tlog/CL.write.1.tlog
/QuickSort/Debug/QuickSort.tlog/QuickSort.lastbuildstate
/QuickSort/Debug/QuickSort.tlog/link.command.1.tlog
/QuickSort/Debug/QuickSort.tlog/link.read.1.tlog
/QuickSort/Debug/QuickSort.tlog/link.write.1.tlog
/QuickSort/Debug/Source.obj
/QuickSort/Debug/vc142.idb
/QuickSort/Debug/vc142.pdb
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/8f7785f98e20a1b1/SOURCE.ipch
/Algoritms/Debug/ShakerSort.exe
/Algoritms/Debug/ShakerSort.ilk
/Algoritms/Debug/ShakerSort.pdb
/ShakerSort/Debug/ShakerSort.log
/ShakerSort/Debug/ShakerSort.tlog/CL.command.1.tlog
/ShakerSort/Debug/ShakerSort.tlog/CL.read.1.tlog
/ShakerSort/Debug/ShakerSort.tlog/CL.write.1.tlog
/ShakerSort/Debug/ShakerSort.tlog/ShakerSort.lastbuildstate
/ShakerSort/Debug/ShakerSort.tlog/link.command.1.tlog
/ShakerSort/Debug/ShakerSort.tlog/link.read.1.tlog
/ShakerSort/Debug/ShakerSort.tlog/link.write.1.tlog
/ShakerSort/Debug/Source.obj
/ShakerSort/Debug/vc142.idb
/ShakerSort/Debug/vc142.pdb
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/ef1bbba803f87c20/SOURCE.ipch
/Algoritms/Debug/InsertSort.exe
/Algoritms/Debug/InsertSort.ilk
/Algoritms/Debug/InsertSort.pdb
/InsertSort/Debug/InsertSort.log
/InsertSort/Debug/InsertSort.tlog/CL.command.1.tlog
/InsertSort/Debug/InsertSort.tlog/CL.read.1.tlog
/InsertSort/Debug/InsertSort.tlog/CL.write.1.tlog
/InsertSort/Debug/InsertSort.tlog/InsertSort.lastbuildstate
/InsertSort/Debug/InsertSort.tlog/link.command.1.tlog
/InsertSort/Debug/InsertSort.tlog/link.read.1.tlog
/InsertSort/Debug/InsertSort.tlog/link.write.1.tlog
/InsertSort/Debug/Source.obj
/InsertSort/Debug/vc142.idb
/InsertSort/Debug/vc142.pdb
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/e9ccee443a073e91/SOURCE.ipch
/Algoritms/Debug/BubbleSort.exe
/Algoritms/Debug/BubbleSort.ilk
/Algoritms/Debug/BubbleSort.pdb
/BubbleSort/Debug/BubbleSort.log
/BubbleSort/Debug/BubbleSort.tlog/BubbleSort.lastbuildstate
/BubbleSort/Debug/BubbleSort.tlog/CL.command.1.tlog
/BubbleSort/Debug/BubbleSort.tlog/CL.read.1.tlog
/BubbleSort/Debug/BubbleSort.tlog/CL.write.1.tlog
/BubbleSort/Debug/BubbleSort.tlog/link.command.1.tlog
/BubbleSort/Debug/BubbleSort.tlog/link.read.1.tlog
/BubbleSort/Debug/BubbleSort.tlog/link.write.1.tlog
/BubbleSort/Debug/Source.obj
/BubbleSort/Debug/vc142.idb
/BubbleSort/Debug/vc142.pdb
/LinearLinkedList/Debug/LinearLinkedList.log
/LinearLinkedList/Debug/LinearLinkedList.tlog/LinearLinkedList.lastbuildstate
/CalcPolalndNotation/Debug
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/145f88f2d517208a/SOURCE.ipch
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/884872340e7ada9c/SOURCE.ipch
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/a87a5bc6e5eb4bd2/SOURCE.ipch
/Algoritms/Debug/CalcPolalndNotation.exe
/Algoritms/Debug/CalcPolalndNotation.ilk
/Algoritms/Debug/CalcPolalndNotation.pdb
/ConvertToPolandNotation/Debug
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/f71b2ff058c34e79/SOURCE.ipch
/Algoritms/Debug/ConvertToPolandNotation.exe
/Algoritms/Debug/ConvertToPolandNotation.ilk
/Algoritms/Debug/ConvertToPolandNotation.pdb
/B2Tree/Debug/B2Tree.log
/B2Tree/Debug/B2Tree.tlog/B2Tree.lastbuildstate
/TraversWidth/Debug
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/be8e1e6345df5e73/SOURCE.ipch
/Algoritms/.vs/Algoritms/v16/Preview/ipch/AutoPCH/d5526f99a8e47596/SOURCE.ipch
/Algoritms/Debug/TraversWidth.exe
/Algoritms/Debug/TraversWidth.ilk
/Algoritms/Debug/TraversWidth.pdb
